<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- if page.title -%}<title>{{ page.title }} · {{ site.title }}</title>{%- else -%}<title>{{ site.title }}</title>{%- endif -%}

  {% seo %}

  <style>
    body { font-size: 15px; padding-left: 1rem; }
    h1, h2, h3 { font-size: 1.2em; }
  </style>

  <link rel="icon" type="image/png" href="{{ '/favicon-96x96.png' | relative_url }}" sizes="96x96">
  <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
</head>
